fastapi
uvicorn
sqlalchemy
pydantic
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
email-validator
slowapi
apscheduler
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
httpx
fastapi-mail
